<nav class="sidebar close">
    <div class="image-text">
        <span class="image">
            <img src="assets\UASD-Logo.png" alt="Logo UASD">
        </span>
    </div>

    <div class="text sidebar-text">
        <span class="name">UASD</span>
        <span class="slogan">Primada de América</span>
    </div>

    <i class='bx  bx-caret-right toggle' (click)="openSidebar()"></i>

    <div class="menu-bar">
        <div class="menu">
            <ul class="menu-links">
                <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-home icon'></i>
                        <span class="text nav-text">Inicio</span> 
                    </a>
                </li>
                 <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-arch icon'></i>
                        <span class="text nav-text">Centro</span> 
                    </a>
                </li>
                 <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-reading icon'></i>
                        <span class="text nav-text">Planes de estudios</span> 
                    </a>
                </li>
                <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-clipboard-detail icon'></i>
                        <span class="text nav-text">Evaluadores</span> 
                    </a>
                </li>
                 <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-user icon'></i>
                        <span class="text nav-text">Usuarios</span> 
                    </a>
                </li>
                 <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-archive icon'></i>
                        <span class="text nav-text">Auditorias</span> 
                    </a>
                </li>
                 <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-vertical-align-bottom icon'></i>
                        <span class="text nav-text">Reportes</span> 
                    </a>
                </li>
            </ul>
        </div>

        <div class="botton-content">
             <li class="nav-link">
                    <a href="#">
                        <i class='bx  bx-arrow-out-left-square-half icon'></i>
                        <span class="text nav-text">Cerrar sesión</span> 
                    </a>
            </li>
             <li class="mode">
                    <div class="moon-sun">
                        <i class="bx bx-moon icon moon"></i>
                        <i class="bx bx-sun icon sun"></i>
                    </div>
                    <span class="mode-text text">Modo oscuro</span>

                    <div class="toggle-switch">
                        <span class="switch" (click)="toggleTheme()"></span>
                    </div>
            </li>
        </div>
    </div>
</nav>